@import 'colors';
.cell {
  fill: rgba($color-cell, 0.7);
  &:hover {
    fill: rgba($color-cell, 1);
  }
}

.none{
  display: none;
}

.highlight {
  fill: rgba($color-cell, 1);
  stroke: white;
  stroke-width: 0.025px;
}

.activeLabel {
  display: static;
  fill: $text-area;
  font-size: 1px;
}
