$color-cell: #707335;
$color-patch: #A89855;
$color-link: lemonchiffon;
$color-face: lightcyan;
$color-corner: #5992C7;
$color-node: #A9D1F2;

$text-area: white;
$text-vector: #403F25;
$text-point: #33351F;

$color-text: #403F25;
