.face {
  stroke: rgba(white, 0.4);
  fill: none;
  &:hover {
    stroke: rgba(white, 1);
  }
}

.none {
  display: none;
}

.highlight {
  fill: rgba(bisque, 1);
}

.text {
  display: none;
}

.activeLabel {
  display: static;
  font-size: 1px;

}
