@import 'colors';

.face {
  stroke: rgba($color-face, 0.6);
  fill: none;
  &:hover {
    stroke: rgba($color-face, 1);
  }
}

.none {
  display: none;
}

.highlight {
  stroke: rgba($color-face, 1);
}

.activeLabel {
  display: static;
  font-size: 1px;
  fill: $text-vector;
}

.arrow {
  stroke: darken($color-face, 5%);
  fill: none;
}
