@import 'colors';

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 65vw;
}

.section {
  font-weight: lighter;
  margin-left: 10px;
  text-align: left;
  h4 {
    margin-left: 10px;
  }
}

.column {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px -1px silver;
}

h2 {
  font-weight: lighter;
}

%button {
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.button {
  @extend %button;
}

.cellButtonDown {
  @extend %button;
  background-color: rgba($color-cell, 0.5);
  color: white;
}

.cellLabelButton {
  @extend %button;
  color: $text-area;
}

.patchButtonDown {
  @extend %button;
  background-color: rgba($color-patch, 0.5);
  color: white;
}

.patchLabelButton {
  @extend %button;
  color: $text-area;
}

.linkButtonDown {
  @extend %button;
  background-color: rgba($color-link, 0.5);

}

.linkLabelButton {
  @extend %button;
  color: $text-vector;
}

.faceButtonDown {
  @extend %button;
  background-color: rgba($color-face, 0.5);
}

.faceLabelButton {
  @extend %button;
  color: $text-vector;
}

.nodeButtonDown {
  @extend %button;
  background-color: rgba($color-node, 0.5);

}

.nodeLabelButton {
  @extend %button;
  color: $text-point;
}

.cornerButtonDown {
  @extend %button;
  background-color: rgba($color-corner, 0.5);

}

.cornerLabelButton {
  @extend %button;
  color: $text-point;
}
