@import 'colors';

.link {
  stroke: rgba($color-link, 0.6);
  fill: none;
  &:hover {
    stroke: rgba($color-link, 1);
  }
}

.none {
  display: none;
}

.highlight {
  stroke: rgba($color-link, 1);
  fill: rgba($color-link, 1);
}

.activeLabel {
  display: static;
  font-size: 1px;
  fill: $text-vector;
}

.arrow {
  stroke: darken($color-link, 5%);
  fill: none;
}
