@import 'colors';

.link {
  stroke: rgba($color-link, 0.4);
  fill: none;
  &:hover {
    stroke: rgba($color-link, 1);
  }
}

.none {
  display: none;
}

.highlight {
  fill: rgba($color-link, 1);
}

.text {
  display: none;
}

.activeLabel {
  display: static;
  font-size: 1px;

}
