.link {
  stroke: rgba(bisque, 0.4);
  fill: none;
  &:hover {
    stroke: rgba(bisque, 1);
  }
}

.highlight {
  fill: rgba(bisque, 1);
}

.title {
  display: none;
}

.active {
  display: static;
}
