.node {
  fill: rgba(gold, 0.4);
  &:hover {
    fill: rgba(gold, 1);
  }
}

.none {
  display: none;
}

.highlight {
  fill: rgba(gold, 1);
}

.text {
  display: none;
}

.activeLabel {
  display: static;
  font-size: 1px;

}
