@import 'colors';

.node {
  fill: rgba($color-node, 0.6);
  &:hover {
    fill: rgba($color-node, 1);
  }
}

.none {
  display: none;
}

.highlight {
  fill: rgba($color-node, 1);
}

.activeLabel {
  display: static;
  font-size: 1px;
  fill: $text-point;
}
