.patch {
  fill: rgba(gray, 0.4);
  stroke: white;
  stroke-width: 0.025px;
  &:hover {
    fill: rgba(gray, 1);
  }
}

.none {
  display: none;
}

.highlight {
  fill: rgba(gray, 1);
}

.text {
  display: none;
}

.activeLabel {
  display: static;
  fill: white;
  font-size: 1px;
}
