@import 'colors';

.patch {
  fill: rgba($color-patch, 0.7);
  &:hover {
    fill: rgba($color-patch, 1);
  }
}

.none {
  display: none;
}

.highlight {
  fill: rgba($color-patch, 1);
  stroke: white;
  stroke-width: 0.025px;
}

.text {
  display: none;
}

.activeLabel {
  display: static;
  fill: $text-area;
  font-size: 1px;
}
